<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books App</title>
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/layout.css">
    <link rel="stylesheet" href="/style/modules.css">
</head>

<body>
    <%- include('layout/header') %>
        <%- include('layout/menue') %>

            <main id="show_main">
                <% bookResults.forEach(val=>{ %>
                    <div class="show_div">
                        <img src=" <%= val.image_url %> " alt="">
                        <h2>
                            <%= val.title %>
                        </h2>
                        <h3>
                            <%= val.author %>
                        </h3>
                        <a href="/books/<%= val.id %>" id="result"><button id="result">View Details</button></a>
                    </div>
                    <%});%>
                        <footer></footer>
</body>

</html>